includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths:
        - src
        - tests
    phpVersion: 80400
    tmpDir: var/cache/phpstan
    reportUnmatchedIgnoredErrors: true
    symfony:
        containerXmlPath: var/cache/test/App_KernelTestDebugContainer.xml
