<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd" bootstrap="tests/bootstrap.php" cacheDirectory=".phpunit.cache" colors="true" beStrictAboutCoverageMetadata="true" beStrictAboutOutputDuringTests="true" failOnDeprecation="true" failOnEmptyTestSuite="true" failOnIncomplete="true" failOnNotice="true" failOnPhpunitDeprecation="true" failOnRisky="true" failOnSkipped="true" failOnWarning="true" requireCoverageMetadata="false">
  <php>
    <env name="APP_ENV" value="test" force="true"/>
    <env name="APP_DEBUG" value="1" force="true"/>
    <env name="KERNEL_CLASS" value="App\Kernel" force="true"/>
    <env name="DATABASE_TEST_URL" value="sqlite:///%kernel.project_dir%/var/test.db"/>
    <env name="JWT_SECRET_KEY" value="%kernel.project_dir%/var/jwt/test-private.pem" force="true"/>
    <env name="JWT_PUBLIC_KEY" value="%kernel.project_dir%/var/jwt/test-public.pem" force="true"/>
    <env name="JWT_PASSPHRASE" value="osira-test-passphrase" force="true"/>
    <env name="VICTORIAMETRICS_URL" value="http://victoriametrics:8428" force="true"/>
    <env name="VICTORIAMETRICS_TIMEOUT" value="5" force="true"/>
    <env name="SHELL_VERBOSITY" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="Osira API test suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source restrictNotices="true" restrictWarnings="true" ignoreIndirectDeprecations="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
